<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>The product <%= @product.name %> is now in stock!</h1>
    <p>
      You can access the product page here: <%= @product.url %>.
    </p>
    <p>
      I'll notify you if it sells out again.
    </p>
    <p>
      - Product Ping
    </p>
  </body>
</html>
