<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Sorry, the product <%= @product.name %> is no longer in stock :(</h1>
    <p>
      I'll notify you if it becomes available again by checking this page: <%= @product.url %>.
    </p>
    <p>
      - Product Ping
    </p>
  </body>
</html>
